# fly.toml app configuration file
app = "notes-app"
primary_region = "sin"

[build]
  [build.args]
    ASPNETCORE_ENVIRONMENT = "Production"

[env]
  ASPNETCORE_URLS = "http://0.0.0.0:8080"
  ASPNETCORE_ENVIRONMENT = "Production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
